.projectCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cardTitle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.contentOverlay {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: background 0.3s ease;
}

.cardDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-top: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

/* Hover effects */
.projectCard:hover .contentOverlay {
    background: rgba(0, 0, 0, 0.7);
}

.projectCard:hover .cardTitle,
.projectCard:hover .cardDescriptionContainer {
    opacity: 1;
    transform: translateY(0);
}

.cardDescription {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}

.technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.techTag {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.link {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}