.inputContainer {
    width: 100%;
    position: relative;
}

.input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #cccccc77;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: inherit;
    outline: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.input::placeholder {
    color: #cccccc77;
    transition: color 0.3s ease, transform 0.3s ease;
}

.input:focus {
    border-color: #ffd700;
    box-shadow: 0 0 10px #ffd70077, 0 0 20px #ffd70033;
}

.input:focus::placeholder {
    color: #ffd700aa;
    transform: translateX(4px);
}

@media (max-width: 768px) {
    .input {
        width: 100%;
    }
}
