.socialIconContainer {
    width: 32px;
    height: 32px;
}

.socialIcon {
    color: #ffffff;
    font-size: 1.75rem;
}

.socialIcon:hover {
    color: var(--accent-color);
    transition: color 0.2s ease-in-out;
}

img, svg {
    vertical-align: 0;
}

/* Specific styling for GitHub icon */
.socialIcon svg {
    width: 1.75rem;
    height: 1.75rem;
    display: block;
    margin: 0 auto;
}