.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-color: #3FA9F5;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
}

.logo {
    width: 75px;
    height: 75px;
}

@media (max-width: 768px) {
    .logo {
        width: 50px;
        height: 50px;
    }
}